<div class='col s12 m8 l8 offset-l2 offset-m2'>
    <div class='card blue-grey lighten-5 z-depth-2'>
        <div class='card-content'>
            <span class='card-title black-text'><timeline-link user='tweet.user' text='{{tweet.name | uppercase}}' /></span>
            <p>{{tweet.content}}</p>
            <span class='badge' title='{{tweet.date}}' am-time-ago='tweet.date'></span>
        </div>
        <div class='card-action'>
            <a title='Em breve' class='waves-effect btn white-text small blue disabled'><i
                    class='material-icons right'>thumb_up</i></a>
            <a title='Em breve' class='waves-effect btn white-text small red disabled'><i
                    class='material-icons right'>thumb_down</i></a>
            <a ng-show='tweet.alreadyFollowed && !fromCurrentUsername(tweet)' ng-controller='FollowController' class='waves-effect btn white-text small red' ng-click='unfollow(tweet)'>Deixar de seguir</a>
            <a ng-show='!tweet.alreadyFollowed && !fromCurrentUsername(tweet)' ng-controller='FollowController' class='waves-effect btn white-text small blue' ng-click='dofollow(tweet)'>Seguir</a>

        </div>
    </div>
</div>